extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Member Email

  form(action='/project/addMember?id=' + project.id, method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='email') Email
      .col-md-7
        input.form-control(type='email', name='email', id='email', autocomplete='email', required)
    .form-group
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn.btn-outline-primary(type='submit')
          i.fas.fa-pencil-alt.fa-sm
          | Add Assignee