extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Project Information

  form(action='/project/new', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='name') Name
      .col-md-7
        input.form-control(type='text', name='name', id='name', autocomplete='name', required)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='description') Description
      .col-md-7
        input.form-control(type='text', name='description', id='description', autocomplete='description')
    .form-group
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn.btn-outline-primary(type='submit')
          i.fas.fa-pencil-alt.fa-sm
          | Create Project